<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PongARKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF4B456D201DD59A005BB38A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4B4583201DD59B005BB38A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4B458E201DD59B005BB38A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
